<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string>./</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>com.memz233.Greatdori.main-url-scheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>greatdori</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Story-jp.otf</string>
		<string>Story-zh-Hant.otf</string>
		<string>Story-zh-Hans.ttf</string>
		<string>Story-en.otf</string>
		<string>Story-kr.ttf</string>
	</array>
</dict>
</plist>
